[data-theme="dekom-default"] {
  --text-scaling: 1.067;
  --base-font-color: var(--color-surface-950);
  --base-font-color-dark: var(--color-surface-50);
  --base-font-family: system-ui, sans-serif;
  --base-font-size: inherit;
  --base-line-height: inherit;
  --base-font-weight: normal;
  --base-font-style: normal;
  --base-letter-spacing: 0em;
  --heading-font-color: inherit;
  --heading-font-color-dark: inherit;
  --heading-font-family: inherit;
  --heading-font-weight: bold;
  --heading-font-style: normal;
  --heading-letter-spacing: inherit;
  --anchor-font-color: var(--color-primary-500);
  --anchor-font-color-dark: var(--color-primary-500);
  --anchor-font-family: inherit;
  --anchor-font-size: inherit;
  --anchor-line-height: inherit;
  --anchor-font-weight: inherit;
  --anchor-font-style: inherit;
  --anchor-letter-spacing: inherit;
  --anchor-text-decoration: none;
  --anchor-text-decoration-hover: underline;
  --anchor-text-decoration-active: none;
  --anchor-text-decoration-focus: none;
  --spacing: 0.25rem;
  --radius-base: 0.375rem;
  --radius-container: 0.75rem;
  --default-border-width: 1px;
  --default-divide-width: 1px;
  --default-ring-width: 1px;
  --body-background-color: var(--color-surface-50);
  --body-background-color-dark: var(--color-surface-950);
  --color-primary-50: oklch(71.4% 0.07 248.12deg);
  --color-primary-100: oklch(63.99% 0.07 245.09deg);
  --color-primary-200: oklch(56.38% 0.07 241.71deg);
  --color-primary-300: oklch(48.46% 0.08 241.5deg);
  --color-primary-400: oklch(40.54% 0.08 239.8deg);
  --color-primary-500: #003859;
  --color-primary-600: oklch(28.32% 0.06 239.77deg);
  --color-primary-700: oklch(23.85% 0.05 236.52deg);
  --color-primary-800: oklch(18.91% 0.04 235.5deg);
  --color-primary-900: oklch(13.91% 0.03 224.86deg);
  --color-primary-950: oklch(0% 0 none);
  --color-primary-contrast-dark: var(--color-primary-950);
  --color-primary-contrast-light: var(--color-primary-50);
  --color-primary-contrast-50: var(--color-primary-contrast-dark);
  --color-primary-contrast-100: var(--color-primary-contrast-dark);
  --color-primary-contrast-200: var(--color-primary-contrast-dark);
  --color-primary-contrast-300: var(--color-primary-contrast-light);
  --color-primary-contrast-400: var(--color-primary-contrast-light);
  --color-primary-contrast-500: var(--color-primary-contrast-light);
  --color-primary-contrast-600: var(--color-primary-contrast-light);
  --color-primary-contrast-700: var(--color-primary-contrast-light);
  --color-primary-contrast-800: var(--color-primary-contrast-light);
  --color-primary-contrast-900: var(--color-primary-contrast-light);
  --color-primary-contrast-950: var(--color-primary-contrast-light);
  --color-secondary-50: oklch(97.79% 0.03 196.58deg);
  --color-secondary-100: oklch(90.91% 0.04 209.78deg);
  --color-secondary-200: oklch(83.91% 0.04 220.57deg);
  --color-secondary-300: oklch(76.86% 0.05 229.71deg);
  --color-secondary-400: oklch(69.6% 0.05 236.29deg);
  --color-secondary-500: oklch(62.21% 0.06 241.42deg);
  --color-secondary-600: oklch(55.2% 0.06 241.47deg);
  --color-secondary-700: oklch(47.93% 0.06 240.67deg);
  --color-secondary-800: oklch(40.22% 0.06 242.78deg);
  --color-secondary-900: oklch(32.42% 0.06 242.86deg);
  --color-secondary-950: oklch(24.28% 0.06 244.03deg);
  --color-secondary-contrast-dark: var(--color-secondary-950);
  --color-secondary-contrast-light: var(--color-secondary-50);
  --color-secondary-contrast-50: var(--color-secondary-contrast-dark);
  --color-secondary-contrast-100: var(--color-secondary-contrast-dark);
  --color-secondary-contrast-200: var(--color-secondary-contrast-dark);
  --color-secondary-contrast-300: var(--color-secondary-contrast-dark);
  --color-secondary-contrast-400: var(--color-secondary-contrast-dark);
  --color-secondary-contrast-500: var(--color-secondary-contrast-dark);
  --color-secondary-contrast-600: var(--color-secondary-contrast-light);
  --color-secondary-contrast-700: var(--color-secondary-contrast-light);
  --color-secondary-contrast-800: var(--color-secondary-contrast-light);
  --color-secondary-contrast-900: var(--color-secondary-contrast-light);
  --color-secondary-contrast-950: var(--color-secondary-contrast-light);
  --color-tertiary-50: oklch(98.02% 0.11 108.28deg);
  --color-tertiary-100: oklch(96.13% 0.14 105.62deg);
  --color-tertiary-200: oklch(94.35% 0.16 103.68deg);
  --color-tertiary-300: oklch(92.8% 0.18 102.66deg);
  --color-tertiary-400: oklch(91.24% 0.18 100.64deg);
  --color-tertiary-500: oklch(89.78% 0.19 98.21deg);
  --color-tertiary-600: oklch(82.4% 0.17 98.06deg);
  --color-tertiary-700: oklch(75.06% 0.16 98.39deg);
  --color-tertiary-800: oklch(67.33% 0.14 98.22deg);
  --color-tertiary-900: oklch(59.58% 0.12 98.69deg);
  --color-tertiary-950: oklch(51.35% 0.11 98.52deg);
  --color-tertiary-contrast-dark: var(--color-tertiary-950);
  --color-tertiary-contrast-light: var(--color-tertiary-50);
  --color-tertiary-contrast-50: var(--color-tertiary-contrast-dark);
  --color-tertiary-contrast-100: var(--color-tertiary-contrast-dark);
  --color-tertiary-contrast-200: var(--color-tertiary-contrast-dark);
  --color-tertiary-contrast-300: var(--color-tertiary-contrast-dark);
  --color-tertiary-contrast-400: var(--color-tertiary-contrast-dark);
  --color-tertiary-contrast-500: var(--color-tertiary-contrast-dark);
  --color-tertiary-contrast-600: var(--color-tertiary-contrast-dark);
  --color-tertiary-contrast-700: var(--color-tertiary-contrast-dark);
  --color-tertiary-contrast-800: var(--color-tertiary-contrast-dark);
  --color-tertiary-contrast-900: var(--color-tertiary-contrast-light);
  --color-tertiary-contrast-950: var(--color-tertiary-contrast-light);
  --color-success-50: oklch(91.37% 0.16 134.57deg);
  --color-success-100: oklch(83.86% 0.16 134.94deg);
  --color-success-200: oklch(76.21% 0.16 135.38deg);
  --color-success-300: oklch(68.67% 0.16 136.02deg);
  --color-success-400: oklch(60.74% 0.16 136.73deg);
  --color-success-500: oklch(52.67% 0.15 137.79deg);
  --color-success-600: oklch(46.52% 0.14 138.18deg);
  --color-success-700: oklch(40.16% 0.12 138.62deg);
  --color-success-800: oklch(33.54% 0.1 139.35deg);
  --color-success-900: oklch(26.55% 0.08 139.95deg);
  --color-success-950: oklch(18.87% 0.06 142.5deg);
  --color-success-contrast-dark: var(--color-success-950);
  --color-success-contrast-light: var(--color-success-50);
  --color-success-contrast-50: var(--color-success-contrast-dark);
  --color-success-contrast-100: var(--color-success-contrast-dark);
  --color-success-contrast-200: var(--color-success-contrast-dark);
  --color-success-contrast-300: var(--color-success-contrast-dark);
  --color-success-contrast-400: var(--color-success-contrast-dark);
  --color-success-contrast-500: var(--color-success-contrast-light);
  --color-success-contrast-600: var(--color-success-contrast-light);
  --color-success-contrast-700: var(--color-success-contrast-light);
  --color-success-contrast-800: var(--color-success-contrast-light);
  --color-success-contrast-900: var(--color-success-contrast-light);
  --color-success-contrast-950: var(--color-success-contrast-light);
  --color-warning-50: oklch(95.67% 0.05 84.56deg);
  --color-warning-100: oklch(92.83% 0.06 82.16deg);
  --color-warning-200: oklch(90.12% 0.08 80.33deg);
  --color-warning-300: oklch(87.59% 0.1 80.01deg);
  --color-warning-400: oklch(85.03% 0.12 78.35deg);
  --color-warning-500: oklch(82.46% 0.14 76.71deg);
  --color-warning-600: oklch(76.34% 0.13 72.25deg);
  --color-warning-700: oklch(70.34% 0.13 68.09deg);
  --color-warning-800: oklch(63.99% 0.13 63.18deg);
  --color-warning-900: oklch(57.91% 0.13 57.97deg);
  --color-warning-950: oklch(51.69% 0.13 51.44deg);
  --color-warning-contrast-dark: var(--color-warning-950);
  --color-warning-contrast-light: var(--color-warning-50);
  --color-warning-contrast-50: var(--color-warning-contrast-dark);
  --color-warning-contrast-100: var(--color-warning-contrast-dark);
  --color-warning-contrast-200: var(--color-warning-contrast-dark);
  --color-warning-contrast-300: var(--color-warning-contrast-dark);
  --color-warning-contrast-400: var(--color-warning-contrast-dark);
  --color-warning-contrast-500: var(--color-warning-contrast-dark);
  --color-warning-contrast-600: var(--color-warning-contrast-light);
  --color-warning-contrast-700: var(--color-warning-contrast-light);
  --color-warning-contrast-800: var(--color-warning-contrast-light);
  --color-warning-contrast-900: var(--color-warning-contrast-light);
  --color-warning-contrast-950: var(--color-warning-contrast-light);
  --color-error-50: oklch(75.87% 0.15 36.87deg);
  --color-error-100: oklch(68.48% 0.16 33.45deg);
  --color-error-200: oklch(61.04% 0.17 31.21deg);
  --color-error-300: oklch(54.06% 0.17 29.43deg);
  --color-error-400: oklch(47.45% 0.18 28.91deg);
  --color-error-500: oklch(41.86% 0.17 29.23deg);
  --color-error-600: oklch(38.1% 0.16 29.23deg);
  --color-error-700: oklch(34.24% 0.14 29.23deg);
  --color-error-800: oklch(30.04% 0.12 29.23deg);
  --color-error-900: oklch(25.93% 0.11 29.23deg);
  --color-error-950: oklch(21.64% 0.09 29.23deg);
  --color-error-contrast-dark: var(--color-error-950);
  --color-error-contrast-light: var(--color-error-50);
  --color-error-contrast-50: var(--color-error-contrast-dark);
  --color-error-contrast-100: var(--color-error-contrast-dark);
  --color-error-contrast-200: var(--color-error-contrast-dark);
  --color-error-contrast-300: var(--color-error-contrast-light);
  --color-error-contrast-400: var(--color-error-contrast-light);
  --color-error-contrast-500: var(--color-error-contrast-light);
  --color-error-contrast-600: var(--color-error-contrast-light);
  --color-error-contrast-700: var(--color-error-contrast-light);
  --color-error-contrast-800: var(--color-error-contrast-light);
  --color-error-contrast-900: var(--color-error-contrast-light);
  --color-error-contrast-950: var(--color-error-contrast-light);
  --color-surface-50: oklch(100% 0 none);
  --color-surface-100: oklch(90.67% 0 none);
  --color-surface-200: oklch(81.41% 0 none);
  --color-surface-300: oklch(71.55% 0 none);
  --color-surface-400: oklch(61.67% 0 none);
  --color-surface-500: oklch(51.03% 0 none);
  --color-surface-600: oklch(47.12% 0 none);
  --color-surface-700: oklch(43.13% 0 none);
  --color-surface-800: oklch(39.04% 0 none);
  --color-surface-900: oklch(34.85% 0 none);
  --color-surface-950: oklch(30.52% 0 none);
  --color-surface-contrast-dark: var(--color-surface-950);
  --color-surface-contrast-light: var(--color-surface-50);
  --color-surface-contrast-50: var(--color-surface-contrast-dark);
  --color-surface-contrast-100: var(--color-surface-contrast-dark);
  --color-surface-contrast-200: var(--color-surface-contrast-dark);
  --color-surface-contrast-300: var(--color-surface-contrast-dark);
  --color-surface-contrast-400: var(--color-surface-contrast-light);
  --color-surface-contrast-500: var(--color-surface-contrast-light);
  --color-surface-contrast-600: var(--color-surface-contrast-light);
  --color-surface-contrast-700: var(--color-surface-contrast-light);
  --color-surface-contrast-800: var(--color-surface-contrast-light);
  --color-surface-contrast-900: var(--color-surface-contrast-light);
  --color-surface-contrast-950: var(--color-surface-contrast-light);
}
